* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  height: 100%;
} */

.Home {
  height: 60vh;
  padding: 0;
  margin: 0;
}

nav {
  height: 15%;
  background-color: hsla(206, 88%, 13%, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  margin: 0 1.5rem;
}

nav li a {
  text-decoration: none;
  color: white;
}

.Header {
  background-color: hsl(193, 79%, 44%);
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
/* ABOUT */

.About {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem;
}

.About h2 {
  padding: 1rem 0;
}

/* PROJECT */

.Projects {
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Project-header-container {
  height: 10%;
}

.Projects h2 {
  color: hsl(0, 2%, 34%);
}

.Projects-container {
  height: 85%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Project-container {
  width: 20rem;
  height: 15rem;
  /* border: red solid 2px; */
  border-radius: 10px;
}

.Image-container {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: hsl(0, 32%, 92%);
  height: 60%;
}

.Project-detail-container {
  height: 40%;
  background-color: white;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1rem 0.5rem;
}

.Project-detail-container p {
  margin-top: 0.5rem;
}

/* CONTACT CSS */

.Contact {
  height: auto;
  background-color: hsl(206, 37%, 20%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
}

.Contact-header-container {
  height: 5%;
}

.Form {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

input,
textarea {
  margin: 0.7rem 0;
  width: 30rem;
  padding: 0.5rem;
  outline: none;
}

input {
  height: 2rem;
}

textarea {
  height: 10rem;
}

input[type="submit"] {
  width: 8rem;
  height: 4rem;
  padding: 1rem;
  background-color: hsl(193, 79%, 44%);
  color: white;
}
